@import "tailwindcss";

html{
  scroll-behavior:smooth;
}

body{

  background:#0F172A;
  color:white;
  overflow-x:hidden;

}

/* Hide default cursor only on devices with a mouse */
/* @media (pointer: fine) {
  * {
    cursor: none;
  }
} */